body {
}

.boardSelection {
    display: flex;
    align-content: center;
}

.btn {
    font-size: 16pt;
    color: darkslateblue;
    border: 1px solid darkslateblue;
    background-color: lightgray;
    width: 15%;
    height: 5%;
    margin-right: 2%;
}

    .btn:hover {
        cursor: pointer;
        background-color: lightslategray;
        color: white;
        border: none;
    }

.buttonPanel {
    display: flex;
    justify-content: center;
}

.cell {
    border: 2px solid darkslateblue;
    color: darkslateblue;
    text-align: center;
    font-size: 32pt;
}

    .cell:hover {
        cursor: pointer;
        background-color: lightslategray;
    }

.cell-highlite {
    background-color: aquamarine;
}

.container {
    height: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(9, 10%);
    grid-template-rows: repeat(9, 10%);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    margin: 5% 10%;
}

.copyright {
    text-align: center;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

h2 {
    text-align: center;
    color: darkslateblue;
}

#puzzleSelect {
    height: 40px;
    width: 60%;
    margin: 0 19%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid darkslateblue;
}

#newPuzzleInput {
    height: 40px;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid darkslateblue;
}
