body {
}

.btn {
    font-size: 16pt;
    border: 1px solid darkslateblue;
    background-color: aquamarine;
}

    .btn:hover {
        cursor: pointer;
        background-color: lightslategray;
        color: white;
    }

.cell {
    border: 2px solid darkslateblue;
    color: darkslateblue;
    text-align: center;
    font-size: 32pt;
}

    .cell:hover {
        cursor: pointer;
        background-color: lightslategray;
    }

.cell-highlite {
    background-color: aquamarine;
}

.container {
    height: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(9, 10%);
    grid-template-rows: repeat(9, 10%);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    margin: 5% 10%;
}

h1 {
    text-align: center;
}

#puzzle {
    height: 40px;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid darkslateblue;
}
