@{
	ViewData["Title"] = "Sudoku Solver";
}
<div>
	<h1>Welcome to the @ViewData["Title"]</h1>
	<br>
	<p class="select-label">Select, add, or update a puzzle:</p>
	<div class="boardSelection">
		<select name="puzzle" id="puzzleSelect">
		</select>
		<input type="text" id="selectPuzzleRating" placeholder="No rating set..." readonly>
	</div>

	<div class="buttonPanel">
		<button type="button" id="addNew" class="btn" onclick="toggleNewPuzzleForm();">Add...</button>
		<div id="addToggle" class="add-toggle" style="display:none;">
			<input type="text" id="newPuzzleInput" placeholder="Enter a new puzzle here...">
			<input type="text" id="newPuzzleRating" placeholder="Rating..."><br><br>
		</div>

		<button type="button" id="updatePuzzle" class="btn" onclick="toggleUpdatePuzzleForm();">Update...</button>
		<div id="updateToggle" class="add-toggle" style="display:none;">
			<input type="text" id="updatePuzzleInput" name="update" placeholder="Enter updated puzzle here...">
			<input type="text" id="updatePuzzleRating" placeholder="Rating..."><br><br>
		</div>

		<button type="button" id="deletePuzzle" class="btn" onclick="confirmDelete();">Delete</button>

		<button type="button" id="solvePuzzle" class="btn" onclick="toggleSolvePuzzleForm();">Solve...</button>
		<div id="solveToggle" class="add-toggle" style="display:none;">
			<br />
			<button type="button" id="showPuzzle" class="inner-btn" onclick="solvePuzzle();">Solve</button>
			<button type="button" id="stepPuzzle" class="inner-btn" onclick="stepPuzzle();">Next</button>
		</div>

		<button type="button" id="place" class="btn" onclick="placeValue();" disabled>Set Value</button>
		<button type="button" id="undo" class="btn" onclick="undoLastMove();" disabled>Undo</button>
		<button type="button" id="markedUndo" class="btn" onclick="revertToLastMarked();" disabled>Reset to Marked</button>
		<button type="button" id="resetPuzzle" class="btn" onclick="getPuzzle();" disabled>Reset</button>
	</div>
	<br />
	<div id="root" class="container">
	</div>

	<div id="puzzleToolsSection" style="display: none;">
		<div id="puzzleMode"></div>
		<div id="selectedCell">Selected Cell: <span></span></div>
		Marked Cells:
		<ul id="markedCellsList">
		</ul>
		<button type="button" id="markCell" class="btn" onclick="markCell();" disabled>Add</button>
		<button type="button" id="unMarkCell" class="btn" onclick="unMarkLastCell();" disabled>Remove</button>
	</div>
		
	<div id="customModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p></p>
		</div>
	</div>

	<div id="customConfirmModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p></p>
			<button id="modalConfirm" class="inner-btn">Confirm</button>
			<button id="modalCancel" class="inner-btn">Cancel</button>
		</div>
	</div>
</div>
