@{
	ViewData["Title"] = "Sudoku Solver";
}
<div>
	<h1>Welcome to the @ViewData["Title"]</h1>
	<br>
	<p class="select-label">Select, add, or update a puzzle:</p>
	<div class="boardSelection">
		<select name="puzzle" id="puzzleSelect">
			<!--Sudoku puzzle list selection is generated here via javascript-->
		</select>
		<input type="text" id="selectPuzzleRating" placeholder="No rating set..." readonly>
	</div>

	<div class="buttonPanel">
		<button type="button" id="addNew" class="btn" onclick="toggleNewPuzzleForm();">Add...</button>
		<button type="button" id="updatePuzzle" class="btn" onclick="toggleUpdatePuzzleForm();">Update...</button>
		<button type="button" id="deletePuzzle" class="btn" onclick="deletePuzzle();">Delete</button>
		<br><br>
		<div id="addToggle" class="add-toggle" style="display:none;">
			<input type="text" id="newPuzzleInput" placeholder="Enter a new puzzle here...">
			<input type="text" id="newPuzzleRating" placeholder="Rating..."><br><br>
		</div>
		<div id="updateToggle" class="add-toggle" style="display:none;">
			<input type="text" id="updatePuzzleInput" name="update" placeholder="Enter updated puzzle here...">
			<input type="text" id="updatePuzzleRating" placeholder="Rating..."><br><br>
		</div>
		<br><br>
		<button type="button" id="showPuzzle" class="btn" onclick="solvePuzzle();">Solve</button>
		<button type="button" id="resetPuzzle" class="btn" onclick="getPuzzle();">Reset</button>
	</div>

	<div id="customModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p>Your custom message here!</p>
		</div>
	</div>

	<div id="root" class="container">
		<!--Sudoku puzzle is generated here via javascript-->
	</div>
</div>

