@{
	ViewData["Title"] = "Sudoku Solver";
}
<div>
	<h1>Welcome to the @ViewData["Title"]</h1>

	<div class="boardSelection">
		<select name="puzzle" id="puzzleSelect">
			<!--Sudoku puzzle list selection is generated here via javascript-->
		</select>
	</div>

	<div class="buttonPanel">
		<button type="button" id="addNew" class="btn btn-outline-secondary" onclick="toggleNewPuzzleDisplay();">Add New...</button>
		<button type="button" id="deletePuzzle" class="btn btn-outline-secondary" onclick="deletePuzzle();">Delete Selected</button>
		<br /><br />
		<div id="addToggle" class="add-toggle" style="display:none;">
			<input type="text" id="newPuzzleInput" name="puzzle" placeholder="Enter a new puzzle here..."><br /><br />
		</div>
		<br /><br />
		<button type="button" id="showPuzzle" class="btn btn-primary" onclick="solvePuzzle();">Show Solution</button>
		<button type="button" id="resetPuzzle" class="btn btn-primary" onclick="getPuzzle();">Reset</button>
	</div>

	<div id="root" class="container">
		<!--Sudoku puzzle is generated here via javascript-->
	</div>
</div>
