@{
    ViewData["Title"] = "Sudoku Solver";
}
<div>
    <h1>Welcome to the @ViewData["Title"]</h1>

    <label for="puzzles">Select a puzzle:</label>
    <select name="puzzle" id="puzzleSelect">
        <!--Sudoku puzzle list selection is generated here via javascript-->
    </select>
    <br /><br />
    <button type="button" id="addNew" class="btn btn-outline-secondary" onclick="toggleNewPuzzleDisplay();">Add New...</button>
    <button type="button" id="deletePuzzle" class="btn btn-outline-secondary" onclick="deleteSelectedPuzzle();">Delete Selected</button>
    <div id="addToggle" style="display:none;">
        <button for="puzzle" type="submit" class="btn btn-secondary" onclick="prepareAddNewPuzzle();">Add New Puzzle</button>
        <input type="text" id="newPuzzleInput" name="puzzle" placeholder="Enter a new puzzle here..."><br /><br />
    </div>
    <br /><br />
    <button type="button" class="btn btn-primary" onclick="activateGameSolution();">Show Solution</button>

    <div id="root" class="container">
        <!--Sudoku puzzle is generated here via javascript-->
    </div>
</div>
